<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
</head>
<footer>
  <div class="contenedor">
    <div class="sec aboutus">
      <h2>Sobre nosotros</h2>
      <p>Somos una empresa que se dedica a realizar test en especial de seguridad.
        Pruebas funcionales pentest validación sql inyection. Pruebas de rendimiento
        o performance
      </p>
        <ul class="list">
        <li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="sec quick">
      <h2>Lista de información</h2>
      <ul>
        <li><a href="#">Acerca de</a></li><br>
        <li><a href="#">Terminos y condiciones</a></li><br>
        <li><a href="#">Protección de datos</a></li><br>
        <li><a href="#">Información Seguridad</a></li><br>
      </ul>
    </div>
    <div class="sec contacto">
      <h2>Información de contacto</h2>
      <ul class="info">
        <li>
          <span></span>
          <span>Cra 46 # 43-77<br>
          Cali,<br>Colombia</span>
        </li>
      </ul>
    </div>
    </div>
</footer>

