<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
</head>
<body>
<footer>
  <div class="contenedor">
    <div class="sec aboutus" >
      <h2>Sobre nosotros</h2>
      <p>Somos una empresa que se dedica a realizar test en especial de seguridad.
        Pruebas funcionales pentest validación sql inyection. Pruebas de rendimiento
        o performance
      </p>
        <ul class="list">
        <li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="sec quick">
      <h2>Lista de información</h2>
      <ul>
        <li><a href="#">Acerca de</a></li><br>
        <li><a href="#">Terminos y condiciones</a></li><br>
        <li><a href="#">Protección de datos</a></li><br>
        <li><a href="#">Información Seguridad</a></li><br>
      </ul>
    </div>
    <div class="sec contacto"  id="mapa">
      <h2>Información de contacto</h2>
      <ul class="info">
        <li>
          <span><i class="fa fa-search-location" aria-hidden="true"></i></span>
          <span>Cra 46 # 43-77<br>
          Cali,<br>Colombia</span>
        </li>
        <li>
          <iframe class="sec map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.7754783816445!2d-76.51554848467318!3d3.4048575524755655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a6d2bb251ee1%3A0x30b718ee8fd23c57!2sCarrera%2046%20%234377%2C%20Cali%2C%20Valle%20del%20Cauca!5e0!3m2!1ses!2sco!4v1621827678360!5m2!1ses!2sco" width="450" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </li>
      </ul>
    </div>
    </div>
</footer>
</body>


